{{define "main"}}
<section class="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <h2>About Us</h2>
        <hr />
        <p>
          MANDLOWITZ TRAINING INC. (MTI) is a privately owned, and CRA
          incorporated on-line education and training platform which specializes
          in various employment and labour issues. Our primary focus is on
          workers’ compensation, occupational health and safety, return to work,
          disability management, and attendance support.
        </p>
        <p>
          MTI is a companion company to MANDLOWITZ CONSULTING AND PARALEGAL
          SERVICES (MCPS), established in 2013 by Jason Mandlowitz who brings
          over 30 years of experience in workers’ compensation in Canada and
          which has successfully provided employers with professional services
          to assist in administering/managing workplace accidents, injuries and
          illness starting from the initial occurrence to issue resolution in
          the form of an appeal at the Workplace Safety and Insurance Board
          (WSIB) or the Workplace Safety and Insurance Appeals Tribunal (WSIAT).
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img
          src="/assets/img/JEM_8FEB15 (1)_edited.jpg"
          alt="Json"
          class="m-0"
        />
      </div>
      <div class="col-lg-5">
        <h3><strong> Jason Mandlowitz </strong></h3>
        <h5>President and Principal</h5>
        <hr />
        <p>
          Jason Mandlowitz is a certified Paralegal with the Law Society of
          Ontario and President of MANDLOWITZ CONSULTING AND PARALEGAL SERVICES
          (MCPS) which offers employers human resources consulting services,
          focusing on workplace safety and insurance. MCPS services are
          available starting from the time of incident/date of the accident as
          well as accident investigation and reporting, claims management,
          objections/appeals, oral and written hearing representation,
          disability management, absence management, and return to work.
        </p>
        <p>
          Jason applies almost 40 years of experience to employer workplace
          safety and insurance and occupational health and safety issues. Jason
          was formerly Vice President of Consulting Services at Hicks Morley
          Hamilton Stewart Storie LLP. He served as the first Director of the
          Ontario Ministry of Labour’s Office of the Employer Advisor and then
          as Senior Director at the Ontario Workers’ Compensation Board with
          responsibility for stakeholder consultation and policy implementation.
        </p>
        <p>
          He regularly contributes articles for the Human Resources Director,
          Ontario Occupational Health Nurses Association Journal, OHS Canada,
          Employment Law, and Talent Canada.
        </p>
      </div>
    </div>
  </div>
</section>
{{end}}
