{{define "main"}}
<section id="hero">
  <div class="container">
    <div class="row justify-content-center align-items-start">
      <img src="/assets/img/logo_white.png" alt="Logo" />
    </div>
  </div>
</section>

<!---->
<section class="details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <p>
          In response to our employer clients and contacts observations that
          there is a general lack of training and education programming on
          workers’ compensation, MANDLOWITZ TRAINING INC. (MTI) has developed
          and is NOW offering a multi-module WSIB Education Program.
        </p>
        <p>
          The intent of the WSIB Education Program is to provide a practical,
          evidence-based approach for the administration of worker accident
          claims in Ontario (WSIB). MTI believes that employers should be well
          positioned to proactively administer/manage their workplace in the
          event of an accident, injury or illness. The WSIB Education Program
          provides the tools for the establishment and/or enhancement of an
          organization’s WSIB program.
        </p>
        <p>
          MTI’s WSIB Education Program consists of six (6) modules, each
          approximately two (2) hours in length.
        </p>
        <br />
        <h5>
          <strong>We cover topics such as:</strong>
        </h5>
        <p>Your WSIB Policy/Procedure</p>

        <p>Accident Investigation</p>

        <p>Accident Reporting</p>

        <p>Return to Work</p>

        <p>Claims Management - assessing eligibility</p>

        <p>
          Claims Management - objections and appeals
          <br />
        </p>
        <br />
        <br />
        <h3>
          <strong
            >ALL SUBSTANTIVE TRAINING HOURS COUNT FOR PROFESSIONAL
            CERTIFICATION.</strong
          >
        </h3>
        <br />
        <a href="/wsibpro" target="_blank"><h2>CLICK HERE TO LEARN</h2></a>
      </div>
    </div>
  </div>
</section>
{{end}}
