{{define "main"}}
<section class="partners">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <h2>Partners</h2>
        <hr />
        <p>
          <strong
            >MTI is pleased to partner with the following companies:</strong
          >
        </p>

        <img src="/assets/img/Mandlowitz MCPS Logo.png" alt="MCPS" />
        <p>
          MANDLOWITZ CONSULTING AND PARALEGAL SERVICES (MCPS) provides proactive
          management consulting and paralegal services in the areas of workplace
          safety and insurance, occupational health and safety, and disability
          and absence management across Canada. MCPS consulted on all content
          for this training program.
        </p>
        <hr />
        <img src="/assets/img/Tractus Logo_Black_2022.png" alt="Tractors" />
        <p>
          Tractus Events creates webinars, virtual and hybrid conferences, and
          trade shows that are memorable and profitable. Our learning system and
          all content was produced by Tractus Events.
        </p>
      </div>
    </div>
  </div>
</section>
{{end}}
