{{define "main"}}
<section class="Wsibpro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <h2>WSIB PRO</h2>
        <p><strong>WSIB Education Program for Employers</strong></p>
        <hr />
        <p>
          Enhance Your Corporate Culture, Create WSIB Policy for your Workplace
          with a Worker-Centered Approach to Return to Work, and Ensure
          Compliance with Ontario Law and WSIB Policies.
        </p>
        <a href="/wsibpro-bundle">
          <div class="all d-flex align-items-center align-self-stretch">
            <h2>FULL BUNDLE</h2>
            <div class="border-top"></div>
            <p>GET ALL 6 MODULES FOR $1,350 (PLUS TAX)</p>
          </div>
        </a>
        <br />
        <p class="price mt-5 mb-5">
          <strong>OR</strong> TAKE EACH COURSE FOR $225 EACH (PLUS TAX)
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="/wsibpro-module1">
          <div class="all-2 d-flex align-items-center align-self-stretch">
            <h2 class="text-center">MODULE 1</h2>
            <div class="border-top"></div>
            <p><u>YOUR WSIB POLICY</u></p>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a href="/wsibpro-module2">
          <div class="all-2 d-flex align-items-center align-self-stretch">
            <h2 class="text-center">MODULE 2</h2>
            <div class="border-top"></div>
            <p><u>ACCIDENT INVESTIGATION</u></p>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a href="/wsibpro-module3">
          <div class="all-2 d-flex align-items-center align-self-stretch">
            <h2 class="text-center">MODULE 3</h2>
            <div class="border-top"></div>
            <p><u>ACCIDENT REPORTING</u></p>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a href="/wsibpro-module4">
          <div class="all-2 d-flex align-items-center align-self-stretch">
            <h2 class="text-center">MODULE 4</h2>
            <div class="border-top"></div>
            <p><u>RETURN TO WORK</u> <br /><br /></p>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a href="/wsibpro-module5">
          <div class="all-2 d-flex align-items-center align-self-stretch">
            <h2 class="text-center">MODULE 5</h2>
            <div class="border-top"></div>
            <p><u>CLAIMS MANAGEMENT PART 1</u></p>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a href="/wsibpro-module6">
          <div class="all-2 d-flex align-items-center align-self-stretch">
            <h2 class="text-center">MODULE 6</h2>
            <div class="border-top"></div>
            <p><u>CLAIMS MANAGEMENT PART 2</u></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{{end}}
