:root {
  --main-font: "Cormorant Garamond", serif;
  --second-font: "Open Sans", sans-serif;
  --main-color: #2487ce;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2487ce;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}
#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #16507b;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #2487ce;
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #124265;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 38, 58, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #124265;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #2487ce;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  background: url("../img/bg.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 80px;
}
#hero .container img {
  width: 80%;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}
.section-bg {
  background-color: #f0f2f4;
}

/*--------------------------------------------------------------
# home
--------------------------------------------------------------*/
.details h5,
.details h3 {
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: 400;
}
.details h2 {
  font-size: 54px;
  color: #000;
}
/*--------------------------------------------------------------
#Partners
--------------------------------------------------------------*/
.partners h2 {
  margin-top: 2rem;
  font-size: 48px;
  font-weight: 700;
}
.partners p {
  font-size: 20px;
}
.partners img {
  max-width: 100%;
  margin: 3rem 0rem;
}
.partners hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*--------------------------------------------------------------
#Contact
--------------------------------------------------------------*/
.contact h2 {
  margin-top: 2rem;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.contact {
  background: url(/assets/img/Contact_edited.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.contact hr {
  border-bottom: #fff 2px solid;
  opacity: 1;
}
.contact p {
  color: #fff;
}

/*--------------------------------------------------------------
#Wsibpro
--------------------------------------------------------------*/

.Wsibpro h2 {
  margin-top: 2rem;
  font-size: 48px;
  font-weight: 700;
}
.Wsibpro p {
  font-size: 20px;
}
.Wsibpro img {
  max-width: 100%;
  margin: 3rem 0rem;
}
.Wsibpro hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Wsibpro .all {
  background: url(/assets/img/package-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  padding: 6rem 0rem;
}
.Wsibpro .all .border-top {
  width: 102px;
  background-color: #fff;
  height: 3px;
}
.Wsibpro .all h2 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 54px;
}
.Wsibpro .all p {
  color: #fff;
  margin-top: 2rem;
  font-size: 36px;
}
.Wsibpro .price {
  font-size: 36px;
}
.Wsibpro .all-2 {
  background: url(/assets/img/package-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  padding: 6rem 3rem;
  margin-top: 2rem;
}
.Wsibpro .all-2 .border-top {
  width: 102px;
  background-color: #fff;
  height: 3px;
}
.Wsibpro .all-2 h2 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 48px;
}
.Wsibpro .all-2 p {
  color: #fff;
  margin-top: 2rem;
  font-size: 24px;
}
.Wsibpro .all-2 p {
  text-align: center !important;
}
/*--------------------------------------------------------------
#about
--------------------------------------------------------------*/
.about h2 {
  margin-top: 2rem;
  font-size: 48px;
  font-weight: 700;
}
.about p {
  font-size: 20px;
}
.about img {
  max-width: 100%;
  margin: 3rem 0rem;
}
.about hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*--------------------------------------------------------------
#thank-you
--------------------------------------------------------------*/
.thank-you h1 {
  margin-bottom: 2rem;
  font-size: 48px;
  font-weight: 700;
}
.thank-you a {
  color: #000;
}
.thank-you p {
  font-size: 20px;
}
.thank-you img {
  max-width: 100%;
  margin: 3rem 0rem;
}
.thank-you hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*--------------------------------------------------------------
#single
--------------------------------------------------------------*/
.single h2 {
  margin-top: 2rem;
  font-size: 56px;
  font-weight: 700;
}
.single p {
  font-size: 18px;
}
.single p span {
  font-size: 24px;
  font-weight: 700;
}
.single img {
  max-width: 100%;
  margin: 3rem 0rem;
}
.single hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.iframe {
  margin-top: 2rem;
  height: 600px !important;
  width: 800px !important;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .iframe {
    height: 500px !important;
    width: 700px !important;
  }
}
@media (max-width: 920px) {
  .iframe {
    height: 650px !important;
    width: 100% !important;
  }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.modules .bg-module {
  background-color: #f0f2f4;
  padding: 2rem 4rem;
}
.modules .bg-module h2 {
  font-family: var(--second-font);
  font-size: 28px;
  font-weight: 600;
  margin-top: 2rem;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f8fbfe;
  min-height: 40px;
  margin-top: 72px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #1a5e90;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 20px;
  background: #000;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #000;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-family: var(--main-font);
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  color: #fff;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--second-font);
  color: #fff;
}
#footer .footer-top h4 {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #cde5f6;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #2487ce;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #3194db;
}
#footer .copyright {
  padding-top: 5px;
  font-size: 13px;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2487ce;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #3194db;
  color: #fff;
  text-decoration: none;
}
