<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>MANDLOWITZ Training INC.</h3>
          <p>
            <strong>LONDON OFFICE</strong> <br />
            10 Tetherwood Crt. <br />
            London, ON N5X 3W3<br /><br />
          </p>
          <p>
            <strong>TORONTO OFFICE </strong> <br />
            63 Oak Park Ave. Toronto,<br />
            ON M4C 4M2<br /><br />
          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <ul>
            <li>
              <p><strong>T. </strong>226.663.6493</p>
            </li>
            <li>
              <p><strong>C. </strong>647.407.6402</p>
            </li>
            <li>
              <p><strong>F. </strong>1.877.864.6204</p>
            </li>
            <li>
              <p><strong>E. </strong>info@mandlowitztraining.com</p>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter Mailing List</h4>

          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>MANDLOWITZ Training INC.</span></strong
        >. All Rights Reserved
      </div>
      <div class="copyright">
        <a href="/terms-and-conditions">Terms & Conditions</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://www.linkedin.com/company/mandlowitz-training" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
