<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-center">
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/wsibpro">WSIB PRO</a></li>
        <li>
          <a class="nav-link scrollto" href="/wsibpro-bundle">Full Bundle</a>
        </li>
        <li><a class="nav-link scrollto o" href="/partners">Partners</a></li>
        <li><a class="nav-link scrollto o" href="/about">About</a></li>
        <li><a class="nav-link scrollto o" href="/contact">Contact</a></li>
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
